.country{
    border: 1px solid salmon;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#country-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.country-name{
    color: #009867;
}
.btn{
    background: salmon;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
#country-details{
    max-width: 700px;
    margin:50px auto 0px;
    display: grid;
    grid-template-columns: 400px 300px;

}
#country-details div{
    padding: 10px 20px;
}
#country-details img{
    height: 100%;
}